<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0">
    <div class="grid text-center">
      <div class="g-col-6 g-col-md-4">
        <input
          id="Id"
          type="number"
          class="form-control"
          placeholder="enter id"
        />
      </div>
      <div class="g-col-6 g-col-md-4">
        <input
          id="amount"
          class="form-control"
          type="number"
          placeholder="enter amount"
        />
      </div>
      <div class="g-col-6 g-col-md-4">
        <input
          type="text"
          class="form-control"
          id="reason"
          placeholder="enter reason"
        />
      </div>
      <div class="g-col-12 text-center offset-1">
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
      </div>
      <div class="g-col-6 g-col-md-4">
        <input
          id="Id"
          type="number"
          class="form-control"
          placeholder="enter id"
        />
      </div>
      <div class="g-col-6 g-col-md-4">
        <input
          id="amount"
          class="form-control"
          type="number"
          placeholder="enter bank name"
        />
      </div>
      <div class="g-col-6 g-col-md-4">
        <input
          type="text"
          class="form-control"
          id="reason"
          placeholder="enter amount"
        />
      </div>
      <div class="g-col-12 text-center offset-1">
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Bank balance</th>
            <th scope="col">Money spent</th>
            <th scope="col">Remaining balance</th>
          </tr>
        </thead>
        <tbody id="divPearagraph">
          <!-- <tr class="">
            <td scope="row">R1C1</td>
            <td>R1C2</td>
            <td>R1C3</td>
          </tr>
          <tr class="">
            <td scope="row">Item</td>
            <td>Item</td>
            <td>Item</td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Bank Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody id="divBank">
          <!-- <tr class="">
            <td scope="row">R1C1</td>
            <td>R1C2</td>
            <td>R1C3</td>
          </tr>
          <tr class="">
            <td scope="row">Item</td>
            <td>Item</td>
            <td>Item</td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">amount</th>
            <th scope="col">Reason</th>
          </tr>
        </thead>
        <tbody id="divBody">
          <!-- <tr class="">
            <td scope="row">R1C1</td>
            <td>R1C2</td>
            <td>R1C3</td>
          </tr>
          <tr class="">
            <td scope="row">Item</td>
            <td>Item</td>
            <td>Item</td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        BindStudents();
        BindAccounts();
        balance();
      });

      $('#btnSubmit').click(function () {
        let idValue = $('#Id').val();
        let firstName = $('#amount').val();
        let lastName = $('#reason').val();
        // let DobValue = $('#txtDOB').val();
        const csrfToken = '{{ csrf_token }}';

        $.ajax({
          type: 'POST',
          dataType: 'json',
          headers: { 'X-CSRFToken': csrfToken },
          data: {
            id: idValue,
            buy: firstName,
            reason: lastName,
            // dob: DobValue,
          },

          url: 'http://127.0.0.1:8000/expense/',
          error: function (xhr, status, error) {
            var err_msg = '';
            for (var prop in xhr.responseJSON) {
              err_msg += prop + ': ' + xhr.responseJSON[prop] + '\n';
            }

            alert(err_msg);
          },
          success: function (result) {
            BindStudents();
            alert('Data Saved Successfully.');

            $('#Id').val('');
            $('#amount').val('');
            $('#reason').val('');
            // $('#txtDOB').val('');
          },
        });
      });

      function BindStudents() {
        $.ajax({
          type: 'GET',
          dataType: 'json',
          url: 'http://127.0.0.1:8000/expense/',
          success: function (result) {
            console.log(result);
            var totalCount = result?.expenses?.length;
            var structureDiv = '';
            for (let i = 0; i < totalCount; i++) {
              structureDiv +=
                '<tr>' +
                '     <td>' +
                result.expenses[i].id +
                '</td>' +
                '      <td>' +
                result.expenses[i].buy +
                '</td>' +
                '             <td>' +
                result.expenses[i].reason +
                '</td>' +
                '           </tr>';
            }

            $('#divBody').html(structureDiv);
          },
        });
      }

      function BindAccounts() {
        $.ajax({
          type: 'GET',
          dataType: 'json',
          url: 'http://127.0.0.1:8000/bank/',
          success: function (result) {
            console.log(result[0].id);
            var totalCount = result.length;
            var structureDiv = '';
            for (let i = 0; i < totalCount; i++) {
              structureDiv +=
                '<tr>' +
                '     <td>' +
                result[i].id +
                '</td>' +
                '      <td>' +
                result[i].name +
                '</td>' +
                '             <td>' +
                result[i].amount +
                '</td>' +
                '           </tr>';
            }

            $('#divBank').html(structureDiv);
          },
        });
      }
      function balance() {
        $.ajax({
          type: 'GET',
          dataType: 'json',
          url: 'http://127.0.0.1:8000/bankbalance/',
          success: function (result) {
            console.log(result);
            var strctureParagra =
              '<tr>' +
              '     <td>' +
              result.total_amount +
              '</td>' +
              '      <td>' +
              result.amount_spend +
              '</td>' +
              '             <td>' +
              result.amount_left +
              '</td>' +
              '           </tr>';
            $('#divPearagraph').html(strctureParagra);
          },
        });
      }

      function DeleteRow(id) {
        $.ajax({
          type: 'DELETE',
          dataType: 'json',

          url: 'http://127.0.0.1:8000/student/' + id + '/',
          error: function (xhr, status, error) {
            var err_msg = '';
            for (var prop in xhr.responseJSON) {
              err_msg += prop + ': ' + xhr.responseJSON[prop] + '\n';
            }

            alert(err_msg);
          },
          success: function (result) {
            BindStudents();
          },
        });
      }
    </script>
  </body>
</html>
